Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored electronically. It allows for efficient data storage, retrieval, and management. Databases are commonly used in various applications, from websites to enterprise systems.

SQL (Structured Query Language) and NoSQL databases are two different types of database management systems:

SQL databases are relational databases that use tables to store data. They are ideal for structured data with well-defined relationships. SQL databases are known for their ACID (Atomicity, Consistency, Isolation, Durability) compliance and are suitable for applications requiring data consistency and complex queries.

NoSQL databases, on the other hand, are non-relational databases designed for unstructured or semi-structured data. They offer flexibility in data storage and are suitable for applications with constantly changing data requirements. NoSQL databases often prioritize scalability and can handle large amounts of data with horizontal scaling.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to define and manage the structure of a database. Key DDL commands include:

CREATE: Used to create database objects like tables, indexes, and views.
DROP: Used to delete database objects.
ALTER: Used to modify the structure of existing database objects.
TRUNCATE: Used to remove all data from a table while retaining the table structure.

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50)
);

ALTER TABLE Employees
ADD Salary INT;

DROP TABLE Employees;

TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is used to manipulate data stored in a database. Key DML commands include:

INSERT: Used to add new records into a table.
UPDATE: Used to modify existing records.
DELETE: Used to remove records from a table.

-- Inserting a new record
INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
VALUES (1, 'John', 'Doe', 50000);

-- Updating an existing record
UPDATE Employees
SET Salary = 55000
WHERE EmployeeID = 1;

-- Deleting a record
DELETE FROM Employees
WHERE EmployeeID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is used to retrieve data from a database. The primary DQL command is SELECT, which allows you to query and retrieve data from one or more tables.

-- Selecting all records from the Employees table
SELECT * FROM Employees;

-- Selecting specific columns and applying a condition
SELECT FirstName, LastName
FROM Employees
WHERE Salary > 50000;

Q5. Explain Primary Key and Foreign Key.

primary key
primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique.

foreign key
foreign key is generally used to build a relationship between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector 


# establishing the connection 

mydb=mysql.connector.connect(
host ="localhost" ,
user="username" , 
password="password" , 
database="databasename"
)


# creating a cursor object 

mycursor=mydb.cursor()


# executing a sql query 

mycursor.execute("select * from table_name")


# fetching the results 

result = mycursor.fetchall()

# printing the results 


for row in result :
    print(row)

cursor(): The cursor is a control structure that allows you to execute SQL queries in Python. It acts as a pointer to the current row in the result set.

execute(): The execute method is used to send an SQL query to the database and execute it. It can be used for various operations like SELECT, INSERT, UPDATE, and DELETE. In the example, we execute a SELECT query and fetch the results.

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM clause: Specifies the table or tables from which to retrieve data.

JOIN clause: Specifies how to join multiple tables together, if needed.

WHERE clause: Specifies which rows to retrieve based on a set of conditions.

GROUP BY clause: Specifies how to group rows based on one or more columns.

HAVING clause: Specifies which groups to retrieve based on a set of conditions.

SELECT clause: Specifies which columns to retrieve.

DISTINCT clause: Specifies to retrieve only distinct values of the specified columns.

ORDER BY clause: Specifies how to sort the retrieved rows based on one or more columns.

LIMIT clause: Specifies the maximum number of rows to retrieve.